# Copy this file to .env and fill in the api keys
# cp .env.example .env
# copy .env.example .env

OPENROUTER_API_KEY = "..."
OPENAI_API_KEY = "..."
SUPABASE_URL = "..."
SUPABASE_KEY = "..."

FACEBOOK_ACCESS_TOKEN="..."
IG_ACCOUNT_ID="..."
FB_API_VERSION="..."

N8N_COMPETITOR_WEBHOOK_URL = "..."
N8N_CONTENT_WEBHOOK_URL = "..."